        <div class="panel side">
    		<p class="title">Selamat Datang <br> <%= sesi.username %></p>
    		<div class="line"></div>
    		<a href="/logout" class="btn btn-default" style="float:right;">LogOut</a>
    		<a href="/profile" class="btn btn-default">Profile</a>
    	</div>
    	<div class="panel white">
    		<p class="title">Menu Seminar</p>
    		<div class="line"></div>
    		<a href="/presenter/newseminar" class="btn btn-default buttonmenu">Buat Acara Seminar Baru</a>
    		<a href="/presenter/listseminar" class="btn btn-default buttonmenu">Lihat Semua Daftar Seminar</a>
    	</div>